@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.algorithm-detail {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: #8E4E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-text {
    flex: 1;
    margin-right: 20px;
}

.detail-button-container {
    flex-shrink: 0;
}

.algorithm-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.algorithm-detail p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.detail-button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #46B751;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.detail-button:hover {
    background-color: #4D8C69;
}